* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #013352;
}

/* header */
header {
  background-color: #165c9d;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  width: 100%;
  position: fixed;
  z-index: 99;
  height: 70px;
}
header a {
  color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* hamburger menu */  
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}
/* hamburger bars */
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s
}
/* hamburger animation */
.hamburger.is-active::before {
  transform: translateY(11px) rotate(135deg);
}
.hamburger.is-active::after {
  transform: translateY(-11px) rotate(-135deg);
}
.hamburger.is-active .bar {
  transform: scale(0);
}

/* Mobile Nav bar */
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 1;
  background-color: #165c9dbb;
  margin-top: 60px;
  padding-top: 120px;
  transition: 0.4s;
  z-index: 98;
}
.mobile-nav.is-active {
  left: 0;
}
.mobile-nav a{
  display: block;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #013352;
  color: #fff;
  text-decoration: none;
}
.mobile-nav ul{
  display: block;
  text-align: center;
  text-decoration: none;
}
.mobile-nav a:hover, .search-bar button:hover, .cta-button:hover{
  background-color: #9695c1;
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }



  .hamburger{
    display: none;
  }
}
@media (max-width: 768px) {
  .search-bar {
    display: none;
  }
  .menu {
    display: none;
  }
}

/* Search Bar and buttons*/
.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.search-bar button, .cta-button button{
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #134e85;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}


/* Main */
main {
  background-image: linear-gradient(to bottom, #000000, #000000 , #013352, #013352, #013352);
}

/* Hero */
.hero {
  transform: translateY(-40px);
  text-align: center;
  z-index: 1;
}
.hero .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.hero iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}


/* Genre Section */
.genre-section {
  transform: translateY(-240px);
  padding-left: 4%;
  margin-top: 40px;
  position: relative;  
  z-index: 2;
}
.genre-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.genre-card {
  text-align: center;
}
.genre-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
.genre-card h3 {
  margin-top: 10px;
  font-size: 16px;
}

/* Sign-in / Sign-up pages */
.sign-in-section, .sign-up-section {
  position: relative;
  background-color: #6f9ab4;
  color: #fff;
  text-align: left;
  padding: 8%;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
}
.sign-in-section form, .sign-up-section form {
  margin-top: 5%;
  margin-bottom: 5%;
}
.sign-in-section [type = "email"], [type = "password"], .sign-up-section [type = "email"], [type = "password"]   {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-bottom: 3%;
}
.sign-in-section button, .sign-up-section button {
  width: 100%;
  padding: 10px;
}
.sign-in-section .Sign-Up-link, .sign-up-section .Sign-in-link{
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-top: 10%;
}

/* Details section */
.details-section{
  position: relative;
  background-color: #013352;
  color: #fff;
  text-align: left;
  padding: 8%;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
}

/* Footer */
footer {
  background-color: #013352;
  color: #fff;
  padding: 20px;
  text-align: center;
}